<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Vapor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='assets/style.css') }}">
</head>
<body>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <div class="main-container store">
        <div class="navegation-background"></div>
        <div class="navegation-container">
            <img class="navigation-img" src="{{ url_for('static', filename='assets/logo.png') }}" alt="">
            <div class="navigation-text bold">TIENDA</div>
            <div class="navigation-text"><a href="/api/user/{{user.id}}/library">BIBLIOTECA</a></div>
            <div class="navigation-text"><a href="/api/user/{{user.id}}/user_profile">PERFIL</a></div>
            <div id="user-container" class="user-profile-container" data-user='{{ user | tojson | safe }}'
                 data-friends-by-game='{{ friends_by_game | tojson | safe }}'>
                <img class="profile-img" src="{{user.profile_picture_url}}">
                <div>
                    <div class="user-name">{{user.name}} <span style="color: var(--highlight-text);">({{user.username}})</span></div>
                    <div class="user-email">{{user.email}}</div>
                </div>
            </div>
        </div>
        <div class="banner-background">
            <img class="banner-img" src="https://r.testifier.nl/Acbs8526SDKI/resizing_type:fill/width:1200/height:630/plain/https%3A%2F%2Fs3-newsifier.ams3.digitaloceanspaces.com%2Fxgn.nl%2Fimages%2F2024-03%2Fstill-image-xbox-game-pass-2-ea-play-title-cardsf1620123579-6601a5389664a.png@webp" alt="">
        </div>
        <div class="banner-background banner-shading"></div>
        <div class="banner-container">
            <div class="banner-text">
                <img class="logo-img" src="https://cdn.freebiesupply.com/images/large/2x/steam-logo-transparent.png" alt="">
                <div class="secondary-title">Vapor</div>
                <div class="description">Tp Integrador - Lautaro Martinez</div>
            </div>
        </div>
        <div class="action-buttons-container">
            <input class="main-search" type="text" placeholder="Busar">
            <ion-icon class="search-icon" name="search-outline"></ion-icon>
        </div>
        <div class="filters-container">
            <div class="filter-section">
                <div class="filter-section-title">YOUR TAGS</div>
                <div class="filter-section-tag">Dungeon Crawler</div>
                <div class="filter-section-tag">Zombies</div>
                <div class="filter-section-tag">Stealth</div>
                <div class="filter-section-tag">Survival Horror</div>
                <div class="filter-section-tag">PvE</div>
            </div>
            <div class="filter-section">
                <div class="filter-section-title">BROWSE BY GENRE</div>
                <div class="filter-section-tag">Dungeon Crawler</div>
                <div class="filter-section-tag">Zombies</div>
                <div class="filter-section-tag">Stealth</div>
                <div class="filter-section-tag">Survival Horror</div>
                <div class="filter-section-tag">PvE</div>
            </div>
            <div class="filter-section">
                <div class="filter-section-title">BROWSE BY DEVELOPER</div>
                <div class="filter-section-tag">VALVE</div>
                <div class="filter-section-tag">EA</div>
                <div class="filter-section-tag">Ubisoft</div>
                <div class="filter-section-tag">From Software</div>
                <div class="filter-section-tag">Bandai Namco</div>
            </div>
        </div>
        <div class="feature-game-container">
            <div id="fg-title" class="featured-game-title">  </div>
            <div class="featured-game-video-container">
                <video id="fg-video" class="featured-game-video" controls>
                    <source id="fg-video-src" src="" type="video/webm">
                    Tu navegador no soporta la etiqueta de video.
                </video>
            </div>
            <div class="featured-game-info-container">
                <img id="fg-image" class="game-image" src="" alt="">
                <div id="fg-description" class="featured-game-description"></div>
                <div class="featured-game-tags-container">
                    <div class="tag-title">TAMBIEN LO TIENEN: </div>
                    <div id="fg-friends" class="featured-game-friends"></div>
                    <div class="tag-title">RELEASE: </div>
                    <div class="featured-game-tags">
                        <div id="fg-relaese" class="tag simple-button"></div>
                    </div>
                    <div class="tag-title">TAGS: </div>
                    <div id="fg-tags" class="featured-game-tags"></div>
                </div>
            </div>
            <div class="featured-game-action-buttons">
                <div class="price-and-buttons-container">
                    <div id="fg-price" class="featured-game-price"></div>
                </div>
                <div id="buy-button" class="simple-button"></div>
            </div>
        </div>
        <div class="game-list-container">
            {% for game in games %}
                <div id="game-{{game.id}}" class="game-info" data-game='{{ game | tojson | safe }}'>
                    <img class="game-image" src="{{game.logo_img_url}}" alt="">
                    <div class="game-price-container">
                        {{game.title}}
                        <span class="game-price">
                            ${{game.price}}
                        </span>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/store.js') }}"></script>
</body>
</html>